* {
  margin: 0;
  padding: 0; }

.clear:before, .clear:after, .row:before, .row:after {
  content: '';
  display: table; }
.clear:after, .row:after {
  clear: both; }

@media all and (max-width: 40em) {
  .small-1 {
    float: left;
    box-sizing: border-box;
    width: 8.33%;
    margin: 0%; }

  .small-2 {
    float: left;
    box-sizing: border-box;
    width: 16.66%;
    margin: 0%; }

  .small-3 {
    float: left;
    box-sizing: border-box;
    width: 24.99%;
    margin: 0%; }

  .small-4 {
    float: left;
    box-sizing: border-box;
    width: 33.32%;
    margin: 0%; }

  .small-5 {
    float: left;
    box-sizing: border-box;
    width: 41.65%;
    margin: 0%; }

  .small-6 {
    float: left;
    box-sizing: border-box;
    width: 49.98%;
    margin: 0%; }

  .small-7 {
    float: left;
    box-sizing: border-box;
    width: 58.31%;
    margin: 0%; }

  .small-8 {
    float: left;
    box-sizing: border-box;
    width: 66.64%;
    margin: 0%; }

  .small-9 {
    float: left;
    box-sizing: border-box;
    width: 74.97%;
    margin: 0%; }

  .small-10 {
    float: left;
    box-sizing: border-box;
    width: 83.3%;
    margin: 0%; }

  .small-11 {
    float: left;
    box-sizing: border-box;
    width: 91.63%;
    margin: 0%; }

  .small-12, nav li {
    float: left;
    box-sizing: border-box;
    width: 99.96%;
    margin: 0%; } }
@media all and (min-width: 40.01em) and (max-width: 64em) {
  .medium-1 {
    float: left;
    box-sizing: border-box;
    width: 8.33%;
    margin: 0%; }

  .medium-2 {
    float: left;
    box-sizing: border-box;
    width: 16.66%;
    margin: 0%; }

  .medium-3, nav #sub-nav li {
    float: left;
    box-sizing: border-box;
    width: 24.99%;
    margin: 0%; }

  .medium-4, nav li {
    float: left;
    box-sizing: border-box;
    width: 33.32%;
    margin: 0%; }

  .medium-5 {
    float: left;
    box-sizing: border-box;
    width: 41.65%;
    margin: 0%; }

  .medium-6 {
    float: left;
    box-sizing: border-box;
    width: 49.98%;
    margin: 0%; }

  .medium-7 {
    float: left;
    box-sizing: border-box;
    width: 58.31%;
    margin: 0%; }

  .medium-8 {
    float: left;
    box-sizing: border-box;
    width: 66.64%;
    margin: 0%; }

  .medium-9 {
    float: left;
    box-sizing: border-box;
    width: 74.97%;
    margin: 0%; }

  .medium-10 {
    float: left;
    box-sizing: border-box;
    width: 83.3%;
    margin: 0%; }

  .medium-11 {
    float: left;
    box-sizing: border-box;
    width: 91.63%;
    margin: 0%; }

  .medium-12 {
    float: left;
    box-sizing: border-box;
    width: 99.96%;
    margin: 0%; } }
@media all and (min-width: 64.01em) {
  .large-1 {
    float: left;
    box-sizing: border-box;
    width: 8.33%;
    margin: 0%; }

  .large-2, nav li {
    float: left;
    box-sizing: border-box;
    width: 16.66%;
    margin: 0%; }

  .large-3 {
    float: left;
    box-sizing: border-box;
    width: 24.99%;
    margin: 0%; }

  .large-4 {
    float: left;
    box-sizing: border-box;
    width: 33.32%;
    margin: 0%; }

  .large-5 {
    float: left;
    box-sizing: border-box;
    width: 41.65%;
    margin: 0%; }

  .large-6 {
    float: left;
    box-sizing: border-box;
    width: 49.98%;
    margin: 0%; }

  .large-7 {
    float: left;
    box-sizing: border-box;
    width: 58.31%;
    margin: 0%; }

  .large-8 {
    float: left;
    box-sizing: border-box;
    width: 66.64%;
    margin: 0%; }

  .large-9 {
    float: left;
    box-sizing: border-box;
    width: 74.97%;
    margin: 0%; }

  .large-10 {
    float: left;
    box-sizing: border-box;
    width: 83.3%;
    margin: 0%; }

  .large-11 {
    float: left;
    box-sizing: border-box;
    width: 91.63%;
    margin: 0%; }

  .large-12, nav ul.main-nav {
    float: left;
    box-sizing: border-box;
    width: 99.96%;
    margin: 0%; } }
nav li.menu-bar {
  display: none; }
  @media all and (max-width: 40em) {
    nav li.menu-bar {
      display: block; } }
@media all and (max-width: 40em) {
  nav li.line-item, nav #dropdown {
    display: none; } }
nav ul.main-nav {
  padding: 0;
  list-style: none;
  background-color: #2DA9FF;
  height: 56px;
  overflow: visible; }
nav li {
  display: inline-block;
  text-align: center;
  color: #FFF;
  background-color: #2DA9FF;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 24px;
  color: #FFF;
  background-color: #2DA9FF;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff; }
  @media all and (max-width: 40em) {
    nav li {
      border-right: none; } }
@media all and (min-width: 40.01em) and (max-width: 64em) {
  nav .last-li {
    border-right: none; } }
nav a {
  font-family: 'Inconsolata', monospace;
  color: #FFF;
  text-decoration: none;
  padding: 25px;
  line-height: 56px; }
nav li:hover, nav .active-nav {
  background-color: #0A75BE; }
nav #sub-nav {
  display: none; }
  @media all and (min-width: 40.01em) and (max-width: 64em) {
    nav #sub-nav {
      width: 100%;
      position: absolute;
      top: 38px;
      left: 0px;
      margin-top: 20px; } }
  nav #sub-nav li {
    border: none; }
    @media all and (min-width: 64.01em) {
      nav #sub-nav li {
        width: 100%; } }
  nav #sub-nav a {
    padding: 15px; }
nav img {
  position: absolute;
  top: 15px;
  left: 15px; }
nav img.x-icon {
  display: none; }

/*# sourceMappingURL=main.css.map */
