* {
    margin: 0;
    padding: 0;
}

@import 'grid';

nav {
    
    li.menu-bar {
        display: none;
        @include screenSize(small){
        display: block;
        }
    }
    
    li.line-item, #dropdown {
        @include screenSize(small){
            display: none;
        }
    }
    
    ul.main-nav {
        @extend .large-12;
        padding: 0;
        list-style: none;
        background-color: #2DA9FF;
        height: 56px;
        overflow: visible;
    }
    
    li {
        @extend .large-2, .medium-4, .small-12;
        display: inline-block;
        text-align: center;
        color: #FFF;
        background-color: #2DA9FF;
        font-family: 'Inconsolata', monospace;
        font-weight: 700;
        font-size: 24px;
        color: #FFF;
        background-color: #2DA9FF;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        @include screenSize(small) {
            border-right: none;
        }
    }
    
    .last-li {
        @include screenSize(medium) {
            border-right: none;
        }
    }
    
    a {
        font-family: 'Inconsolata', monospace;
        color: #FFF;
        text-decoration: none;
        padding: 25px;
        line-height: 56px;
    }
    
    li:hover, .active-nav {
            background-color: #0A75BE;
        }
    
    #sub-nav {
        display: none;
        @include screenSize(medium) {
            width: 100%;
            position: absolute;
            top: 38px;
            left: 0px;
            margin-top: 20px;
        }
        
        li {
            border: none;
            @include screenSize(large){
                width: 100%;
            }
            @include screenSize(medium){
                @extend .medium-3;
            }
        }
        
        a {
            padding: 15px;
        }
    }
    
    img {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    img.x-icon {
        display: none;
    }
        
}